@media screen and (max-width: 810px) {
  main .main-bootcamp .bootcamp-title {
    font-size: 26px;
  }
  
  .button-wacth, .button-info {
    font-size: 10px;
  }

  .button-info {
    margin-top: 5px;
  }
}

@media screen and (max-width: 700px) { /*aplicar essa regra de mídia quando a largura da tela for no máximo 700px*/
  header .container {
    display: flex; /*Coloca tudo em linha*/
    flex-direction: column; 

    font-size: 14px;
  }

  main .main-bootcamp .bootcamp-title {
    font-size: 20px;
  }

  main .main-bootcamp .bootcamp-description {
    font-size: 10px;
  }
}

@media screen and (max-width: 585px) {
  main .main-bootcamp .bootcamp-title {
    font-size: 18px;
  }
  
  .button-wacth, .button-info {
    font-size: 8px;
  }
}

@media screen and (max-width: 520px) {
  main .main-bootcamp .bootcamp-title {
    font-size: 16px;
  }

  .button-wacth, .button-info {
    font-size: 7px;
  }
}

@media screen and (max-width :480px) {
  main .main-bootcamp .bootcamp-title {
    font-size: 14px;
  }

  main .main-bootcamp .bootcamp-description {
    font-size: 9px;
  }
}

@media screen and (max-width: 335px) {
  header .container {
    font-size: 12px;
  }

  main .main-bootcamp .bootcamp-title {
    font-size: 12px;
  }

  main .main-bootcamp .bootcamp-description {
    font-size: 8px;
  }
}

@media screen and (max-width: 300px) {
  header .container {
    font-size: 10px;
  }
}

@media screen and (max-width: 260px) {
  header .container {
    font-size: 8px;
  }
}